/* [INI] - Estilos globales */
html{
    height: 100%;

}
body{
    font-family: 'Titillium Web', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* [FIN] - Estilos globales */
/* [INI] - Estilos header */
.bienvenido{
    background-color: #343A40;
    opacity: 0.8;
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar{
    background-color: #343A40;
    opacity: 0.8;
    min-height: 20px;
    font-weight: bold;
    margin: 0;
}
.navbar .container .collapse .navbar-nav .nav-item .nav-link:hover{
    color: white;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color:white;
}
.btn{
    font-weight: bold;
}
/* [FIN] - Estilos header */
/* [INI] - Estilos footer */
footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    margin-top: auto;
}
.footer-cuerpo img{
    float: right;
    width: 80px;
    height: 80px;
    margin: 10px; 
}
.footer-izq-titulo{
    margin-left: 10px
}
.footer-izq-contenido{
    margin-left: 20px;

}
/* [FIN] - Estilos footer */
/* [INI] - MODULO: Agenda */
.fa-search{
    margin-right: 10px;
}
.card-header{
    font-weight: bold;
}
.card-title{
    text-decoration: underline;
}
/* [FIN] - MODULO: Agenda */